.destinations-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations-itens .item {
  width: 312px;
  height: 100%;
  box-sizing: border-box;
}

.destinations-itens .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
  text-align: start;
}

.destinations-itens .item .img-item {
  width: 312px;
  height: 360px;
}

.destinations-itens .item .tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat center/cover;
}

.destinations-itens .item .osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat center/cover;
}

.destinations-itens .item a.button {
  text-align: center;
}

.destinations-itens .item h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.destinations-itens .item p {
  font-size: 20px;
  font-weight: var(--texts-weight);
  line-height: 1.5;
  margin-bottom: 24px;
}
